<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /new_company/

    # Redirect all requests to index.php except existing files/directories
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
